@page
@model WorkoutRepository.Pages.Exercises.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Exercise.Id" />
            <div class="form-group">
                <label asp-for="Exercise.MuscleGroupId" class="control-label"></label>
                <input asp-for="Exercise.MuscleGroupId" class="form-control" />
                <span asp-validation-for="Exercise.MuscleGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.PrimaryEquipmentId" class="control-label"></label>
                <input asp-for="Exercise.PrimaryEquipmentId" class="form-control" />
                <span asp-validation-for="Exercise.PrimaryEquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Name" class="control-label"></label>
                <input asp-for="Exercise.Name" class="form-control" />
                <span asp-validation-for="Exercise.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.ImageResource" class="control-label"></label>
                <input asp-for="Exercise.ImageResource" class="form-control" />
                <span asp-validation-for="Exercise.ImageResource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.EmbedLink" class="control-label"></label>
                <input asp-for="Exercise.EmbedLink" class="form-control" />
                <span asp-validation-for="Exercise.EmbedLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Description" class="control-label"></label>
                <input asp-for="Exercise.Description" class="form-control" />
                <span asp-validation-for="Exercise.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.PositiveRatings" class="control-label"></label>
                <input asp-for="Exercise.PositiveRatings" class="form-control" />
                <span asp-validation-for="Exercise.PositiveRatings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.NegativeRatings" class="control-label"></label>
                <input asp-for="Exercise.NegativeRatings" class="form-control" />
                <span asp-validation-for="Exercise.NegativeRatings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
