
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<h2>Creator</h2>
<p>This project was created by Mahmood Abdul-Khaliq as a Capstone project submission for the 
    <a href="https://www.mohawkcollege.ca/programs/technology/computer-systems-technology-software-development-559">Software Development</a> program at 
    <a href="https://www.mohawkcollege.ca/">Mohawk College</a>.</p>

<h2>This Project</h2>
<p>This web application featuring a repository of various strength training exercises,
    primarily focused towards weightlifting enthusiasts and beginners looking for education on how to perform certain exercises.
    </p>

<p>The exercises themselves may be opened into separate web pages to see further detail about them;
    additionally, each exercise is categorized by equipment needed and primary muscle group trained.
    Furthermore, social features such as a rating system and comments are implemented per exercise; only logged in users may leave comments/ratings.
    </p>

<h2>Other Fitness Related Projects</h2>
<p>Here are some other projects I have worked on: </p>
<ul>
    <li><a href="https://github.com/MahAbdulKhaliq/Projects">My GitHub - Projects</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/13Dek_E4_pYxVzHzOO_onIagF4FYU1Hv7FIm7DkeNq-Y/edit?usp=sharing">Yet Another Beginner Program (YABP) - 5/3/1 Rewrite (Google Sheet)</a></li>
    <li><a href="https://docs.google.com/document/d/1lpSXsGJx78dZZTdXXkfFhRIlqkR8lZsJwjABteRZxMQ/edit?usp=sharing">YABP Starter Guide (Google Doc)</a></li>
</ul>

