@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var appName = "Workout Repository";
}

@if (SignInManager.IsSignedIn(User))
{
    bool isAdmin = User.IsInRole("Admin");
    var user = await UserManager.GetUserAsync(User);
    var userName = user.WebsiteUserName;
    var userId = UserManager.GetUserId(User);

<div class="text-center">
    <h1 class="display-4">@appName</h1>
    <p>Welcome, @userName!</p>
    <p><a asp-area="" asp-controller="Profiles" asp-action="Details" asp-route-id="@userId">View My Profile</a></p>


    @if (isAdmin)
    {
        <p><a asp-area="" asp-controller="Users" asp-action="Index">View users</a></p>

    }
    else
    {
        <p><a asp-area="" asp-controller="UserWorkouts" asp-action="Index" title="Manage">Go to My Workouts</a></p>

        <p><a asp-area="" asp-controller="WorkoutLogs" asp-action="Index" title="Manage">Go to Workout Log [WIP]</a></p>
    }

</div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">@appName</h1>
        <p>Welcome to @appName!</p>
        <p>This application serves to host a suite of exercise information</p>
        <p>Like or dislike an exercise? Want to start a discussion?</p>
        <p><a asp-area="Identity" asp-page="/Account/Register">Sign up now</a> or <a asp-area="Identity" asp-page="/Account/Login">Login</a>!</p>
    </div>
}