@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>To be honest: this is a simple project; I would not go around making accounts containing real or personal information on this website.
    Database redesigns and resets happen frequently with this site.
    </p>

<p>Use this website at the moment as a testing ground for its features; do not house your personal information on here.</p>


<p>If you want a full privacy policy rundown, you can go <a href="https://www.termsfeed.com/live/a730f97e-3e29-4f85-b289-1b5711e56535">here</a>.</p>
